In [1]:
from telnetlib import X3PAD
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
import pickle 
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model

import pickle 
from sklearn.metrics import mean_squared_error

ModuleNotFoundError: No module named 'sklearn'

In [2]:
df_2020 = pd.read_csv('merged_gw2020.csv',low_memory = False)
df_2021 = pd.read_csv('merged_gw2021.csv',low_memory = False)

In [3]:
season_2020 = pd.DataFrame({'season' : ['2019/20']*df_2020.shape[0]   })
season_2021 = pd.DataFrame({'season' : ['2020/21']*df_2021.shape[0]   })

In [4]:
df_2020 =pd.concat([df_2020, season_2020] ,axis = 'columns')
df_2021 =pd.concat([df_2021, season_2021] ,axis = 'columns')

In [5]:
df= pd.concat([df_2020 , df_2021], axis = 'index',ignore_index = True)

In [6]:
df["was_home"] = df["was_home"].astype(int)

In [7]:

df.sort_values(by=['name','season','GW'], inplace =True)
df.reset_index(inplace = True)


df.drop(['index'],axis= 'columns' , inplace =True)

In [8]:
df['id'] = df.groupby(['name']).ngroup()

In [9]:
df['pos']= df.groupby(['position']).ngroup()

In [10]:
df['teams'] = df.groupby(['team']).ngroup()

In [11]:
identity = df['id'].unique()

In [12]:

x = 25

In [13]:
filt = (df['GW'] == x) & (df['season']=='2020/21')
df_points = df.loc[filt , ['total_points','id' ]]
df_points.drop_duplicates(subset='id',keep = 'first',inplace = True)
df_points.reset_index(inplace = True)


df_points.drop(['index'],axis= 'columns' , inplace =True)
df_points

     total_points   id
0               0    0
1               0    1
2               2    2
3               0    5
4               0    6
..            ...  ...
627             9  956
628             1  957
629             0  959
630             0  962
631             1  963

[632 rows x 2 columns]

In [14]:
y=x-1
Gameweeks=[]

In [15]:
for i in range(5):
    Gameweeks.append(y)
    y=y-1

In [16]:
dataframes = {}

In [17]:
for GW in Gameweeks:
    filt=(df['GW'] == GW) & (df['season'] == '2020/21')
    dataframes[GW] = df[filt]
    dataframes[GW].reset_index(inplace = True)
    dataframes[GW].drop(['index'],axis= 'columns' , inplace =True)
    dataframes[GW].drop([ 'kickoff_time','season', 'name' , 'position','pos' ,'GW' ,'team','teams'],axis= 'columns' , inplace =True)

/home/aavash/Downloads/jupyter/environment/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
dataframes[24].columns

Index(['xP', 'assists', 'bonus', 'bps', 'clean_sheets', 'creativity',
       'element', 'fixture', 'goals_conceded', 'goals_scored', 'ict_index',
       'influence', 'minutes', 'opponent_team', 'own_goals',
       'penalties_missed', 'penalties_saved', 'red_cards', 'round', 'saves',
       'selected', 'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'id'],
      dtype='object')

In [19]:
n = 0
for keys in dataframes:
    column = []
    
    for value in dataframes[keys].columns:
        
        if (value != 'id')  & (value!='team'):
            value = value +f'_{n}' 
        column.append(value)
        
    dataframes[keys].columns = column
    n=n-1

In [ ]:
for keys in dataframes:
    dataframes[keys].drop_duplicates(subset='id' , keep ='first' , inplace = True)
    dataframes[keys].reset_index(inplace = True)
    dataframes[keys].drop(['index'],axis= 'columns' , inplace =True)

In [ ]:
#for keys in dataframes:
#    print(dataframes[keys].columns)

In [ ]:

df1 = pd.merge(dataframes[x-1] , dataframes[x-2], on = 'id' , how = 'outer')
df1 = pd.merge(df1 , dataframes[x-3], on = 'id' , how = 'outer')
df1 = pd.merge(df1 , dataframes[x-4], on = 'id' , how = 'outer')
df1 = pd.merge(df1 , dataframes[x-5], on = 'id' , how = 'outer')

In [ ]:
filt = (df['GW'] == x-1) | (df['GW'] == x-2) | (df['GW'] == x-3) | (df['GW'] == x-4) | (df['GW'] == x-5)
df_position = df.loc[filt , ['id' , 'pos','teams']]

In [ ]:
df_position.drop_duplicates(subset='id',keep = 'first',inplace = True)
df_position.reset_index(inplace = True)
df_position.drop(['index'],axis= 'columns' , inplace =True)

In [ ]:
df1.drop_duplicates(subset='id',keep = 'first',inplace = True)
df1.reset_index(inplace = True)
df1.drop(['index'],axis= 'columns' , inplace =True)

In [ ]:
df1 = pd.merge(df1 , df_position, on = 'id' , how = 'inner')

In [ ]:
filt = df['GW']== x 
df_points = df.loc[filt,['id' , 'total_points']]
df_points.drop_duplicates(subset='id',keep = 'first',inplace = True)
df_points.reset_index(inplace = True)
df_points.drop(['index'],axis= 'columns' , inplace =True)

In [ ]:
df_points

In [ ]:

df1 = pd.merge(df1 , df_points, on = 'id' , how = 'inner')

In [ ]:
#merged =pd.concat([df1.id,df1.teams,df1.pos] ,axis = 'columns')



#df1.drop(['id' , 'teams' , 'pos'],axis= 'columns',inplace = True)

In [ ]:
df['total_points'].isnull().values.any()

In [ ]:
df1 = df1.fillna(df1.median())

In [ ]:
df1

In [ ]:
#df1_scaled= pd.DataFrame(df1_scaled, columns = list(df1.columns))

In [ ]:
#df1_scaled.info()

In [ ]:
#merged.info()

In [ ]:
#merged.isnull().values.any()

In [ ]:
#df1_scaled.isnull().values.any()

In [ ]:
#df1 = df = pd.concat([df1_scaled , merged] ,axis = 'columns')

In [ ]:
df1

In [ ]:
columns = df1.columns
remove = ('pos','teams','id','total_points')
a = set(columns)
b = a.difference(remove)
columns = list(b)

In [ ]:
df1.to_csv('aavash.csv')

In [ ]:
df1.loc[:,columns] = StandardScaler().fit_transform(df1.loc[:, columns])

In [ ]:
df1

In [ ]:
X=df1.drop(['id' ,'total_points' ,'pos','teams'],axis ='columns') 
Y= df1.loc[:, {'total_points'}]


X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2 )

In [ ]:
X_train.shape

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(max_depth=20, random_state=0)

model.fit(X_train ,Y_train)

In [ ]:
prediction = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(Y_test,prediction)

In [ ]:
pred_training = model.predict(X_train)
mean_squared_error(Y_train,pred_training)

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(Y_test,prediction)

In [ ]:
mean_squared_error(Y_test,prediction)

In [ ]:
with open('model_pickle','wb') as file:
    pickle.dump(model,file)